.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 310px;
  width: 320px;
  position: relative;
}
.card__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.card__title {
  margin: 0px;
  color: #12679b;
}
.date{
  color: #285238;
}
.venue{
  color: #112B3C;
}
.card__button {
  border-radius: 18px;
}
.more {
  margin-top: 12px;
  position: absolute;
  right: 30px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
