.chapter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  
  .chapter__groupPhoto {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .chapter__groupPhoto__container {
    display: flex;
    position: relative;
    min-width: 100%;
    max-height: 100%;
    height: 700px;
  }
  
  .chapter__groupPhoto__container__image {
    background-size: cover;
    background-repeat: no-repeat;
    max-height: 100%;
    min-width: 100%;
  }
  
  .header {
    width: 100%;
    background: rgba(255, 255, 255, 0.8);
  }
  
  .header__content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 20px;
    gap: 50px;
    width: 80%;
  }
  
  .logo__image {
    height: 100px;
  }
  
  .header__text {
    text-align: center;
  }
  
  .link {
    text-decoration: none;
  }
  
  .button {
    /* background-color: #712e87; */
    margin-top: 20px;
  }
  
  .chapter__joinus {
    text-align: center;
    margin: 50px auto;
    width: 60%;
    /* color: #712e87; */
  }

  .chapter__benefits {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding: 30px 0px;
    /* background-color: #712e87; */
    width: 100%;
  }
  
  .chapter__benefits__cards {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 25px;
  }
  
  .chapter__website {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #712e87; */
    width: 100%;
    gap: 50px;
    padding: 50px;
    color: #fff;
  }
  .chapter__team {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
  }

  .chapter__team__members {
    display: flex;
    flex-direction: row;
    gap: 40px;
    height: 100%;
    flex-wrap: wrap;
    padding: 50px 80px;
    text-align: center;
  }
  
  .chapter__message {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 25px;
    color: #fff;
    border-bottom: 4px solid #fff;
    /* background-image: radial-gradient(
        circle at center center,
        rgba(49, 52, 53, 0.1) 0%,
        rgba(49, 52, 53, 0.1) 3%,
        transparent 3%,
        transparent 28%,
        rgba(228, 25, 216, 0.1) 28%,
        rgba(228, 25, 216, 0.1) 100%
      ),
      linear-gradient(22.5deg, rgb(113, 46, 135) 0%, rgb(113, 46, 135) 31%); */
    background-size: 27px 27px;
  }
  
  .chapter__message__content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    gap: 50px;
    width: 80%;
    text-align: center;
  }
  
  .chapter__message__content__person {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }
  
  .chapter__message__content__person__image {
    width: 120px;
    height: 120px;
  }
  
  /* [theme.breakpoints.down(md)]: { */
  @media (max-width: 900px) {
    .header__content {
      width: 100%;
    }
  
    .chapter__joinus {
      width: 90%;
    }
  
    .chapter__groupPhoto__container__image {
      background-size: contain;
    }
  }
  
  /* [theme.breakpoints.down(sm)]:  */
  @media (max-width: 600px) {
    .chapter__message__content {
      flex-direction: column;
      padding: 50px 20px;
      gap: 20px;
    }
    .header__content {
      flex-direction: column;
      gap: 20px;
    }
    .logo__image {
      height: 60px;
    }
    .chapter__website {
      flex-direction: column;
      gap: 20px;
    }
  }
  
  /* [theme.breakpoints.down(xs)]:  */
  @media (max-width: 0px) {
    .chapter__team__members {
      padding: 25px;
    }
  }
  