.cs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.cs__groupPhoto {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #1267;
}

.cs__groupPhoto__container {
  display: flex;
  position: relative;
  min-width: 100%;
  max-height: 100%;
  height: 700px;
}

.cs__groupPhoto__container__image {
  background-size: cover;
  background-repeat: no-repeat;
  max-height: 100%;
  min-width: 100%;
}

.header {
  width: 100%;
  background: rgba(255, 255, 255, 0.8);
}

.header__content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 20px;
  gap: 50px;
  width: 80%;
}

.logo__image {
  height: 100px;
}

.header__text {
  text-align: center;
}

.link {
  text-decoration: none;
}

.button {
  background-color: #faa41a;
  margin-top: 20px;
}

.cs__joinus {
  text-align: center;
  margin: 50px auto;
  width: 60%;
  color: #faa41a;
}

.cs__joinus__text {
  margin-bottom: 20px;
}

.Joinus__button {
  /* margin-Top: 20px; */
  background-color: #000;
  border-radius: 25px;
}

.cs__benefits {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  padding: 30px 0px;
  background-color: #faa41a;
  width: 100%;
}

.cs__benefits__text {
  border-bottom: 3px solid #000;
}

.cs__benefits__cards {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 25px;
}

.cs__benefits__cards__paper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 40px;
}

.cs__website {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #faa41a;
  width: 100%;
  gap: 50px;
  padding: 50px;
}

.cs__team {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.cs__team__text {
  color: #faa41a;
  border-bottom: 3px solid #faa41a;
}

.cs__team__members {
  display: flex;
  flex-direction: row;
  gap: 40px;
  height: 100%;
  flex-wrap: wrap;
  padding: 50px 80px;
  text-align: center;
}

.cs__message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 25px;
  background-image: radial-gradient(
      circle at center center,
      rgba(49, 52, 53, 0.1) 0%,
      rgba(49, 52, 53, 0.1) 3%,
      transparent 3%,
      transparent 28%,
      rgba(228, 25, 216, 0.1) 28%,
      rgba(228, 25, 216, 0.1) 100%
    ),
    linear-gradient(22.5deg, rgb(250, 164, 26) 0%, rgb(250, 164, 26) 31%);
  background-size: 27px 27px;
}

.cs__message__content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  gap: 50px;
  width: 80%;
  text-align: center;
}

.cs__message__content__person {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.cs__message__content__person__image {
  width: 120px;
  height: 120px;
}

/* [theme.breakpoints.down(md)]: { */
@media (max-width: 900px) {
  .header__content {
    width: 100%;
  }
  .cs__joinus {
    width: 90%;
  }
  .cs__groupPhoto__container__image {
    background-size: contain;
  }
}
/* [theme.breakpoints.down(sm)]: { */
@media (max-width: 600px) {
  .cs__message__content {
    flex-direction: column;
    padding: 50px 20px;
    gap: 20px;
  }
  .header__content {
    flex-direction: column;
    gap: 20px;
  }
  .logo__image {
    height: 60px;
  }
}
/* [theme.breakpoints.down(xs)]: { */
@media (max-width: 0px) {
  .cs__team__members {
    padding: 25px;
  }
}
