.main {
  min-height: 100vh;
}

.title {
  margin: 0;
  font-size: 1.8rem;
  text-align: center;
  color: #C62E65;
}

.sub__title{
  margin: 5px;
  text-align: center;
  margin-bottom: 15px;
}

.events__container {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 90%;
  margin: auto;
  margin-bottom: 30px;
  margin-top: 20px;
}

.add__event{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  background-color: #fff;
  padding: 8px;
  text-align: center;
  border-radius: 10px;
}

.event__categories__list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1;
  gap: 25px;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
  width: 80%;
}

.event__categories__list__button {
  border-bottom: 4px solid #424242;
  background-color: #12679b;
  color: #fff;
  padding: 7px;
  border-radius: 25px;
  flex: 1;
}

.testimonial{
  margin: 5px 20px;
  border: 1px solid #f2f1ed;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
  gap: 15px;
  height: 98%;
}