.home {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  margin: auto;
  max-width: 1366px;
}
.container {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}
.container__image {
  background-size: cover;
  background-repeat: no-repeat;
  max-height: 100%;
  min-width: 100%;
}
.mainSection {
  width: 70%;
}
.header {
  position: absolute;
  bottom: 0;
  background-color: rgba(18, 103, 155, 0.6);
  width: 100%;
  display: flex;
  padding: 25px 15%;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
.header__text {
  color: #ffffff;
}
.header__button {
  padding: 10px 50px;
  height: max-content;
  border-radius: 25px;
  color: #12679b;
  background-color: #ffffff;
}
.header__button:hover {
  background-color: #c21531;
  color: #ffffff;
}
.mission {
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
}
.headers {
  margin: 15px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.home__events {
  margin-top: 20px;
}
.events__container {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 90%;
  margin: auto;
  margin-bottom: 30px;
  margin-top: 20px;
}
.image {
  position: relative;
  width: 150px;
  height: 120px;
}
.ourChapters {
  display: flex;
  gap: 30px;
  flex-direction: column;
  align-items: center;
  margin: 30px 0;
}
.ourChapters__header {
  text-shadow: 1px 0px 1px #ccc, 0px 1px 1px #eee, 2px 1px 1px #ccc,
    1px 2px 1px #eee, 3px 2px 1px #ccc, 2px 3px 1px #eee, 4px 3px 1px #ccc,
    3px 4px 1px #eee, 5px 4px 1px #ccc, 4px 5px 1px #eee, 6px 5px 1px #ccc,
    5px 6px 1px #eee, 7px 6px 1px #ccc;
}
.chapter_cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  width: 100%;
}
.chapters {
  display: flex;
  position: relative;
  justify-content: center;
  border-radius: 15px;
  height: 120px;
  padding: 20px;
  min-width: 250px;
  flex: 1;
}
.chapter_logo {
  max-height: 100%;
  min-width: 100%;
  object-fit: contain;
  padding: 20px;
}
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  gap: 40px;
  margin: 50px;
  width: 70%;
}
.card {
  height: 140px;
  padding: 25px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
.red {
  color: #ff4040;
}
.bottomContainer {
  width: 100%;
  background-color: #12679b;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
  padding-bottom: 40px;
  border-bottom: 2px solid #ffffff;
}
.text {
  text-align: center;
  width: 70%;
  color: #ffffff;
}
.button {
  padding: 10px 40px;
  color: #12679b;
  background-color: #ffffff;
}
.button:hover {
  background-color: #c21531;
  color: #ffffff;
}
@media (max-width: 960px) {
  .container__image {
    background-size: contain;
  }
}
@media (max-width: 600px) {
  .button {
    padding: 10px 20px;
    min-width: max-content;
  }
  .header {
    padding: 5%;
    position: static;
  }
  .mainSection {
    width: 90%;
  }
}
@media (max-width: 400px) {
  .image {
    width: 100px;
    height: 110px;
  }
  .paper {
    padding: 15px;
  }
  .header {
    flex-direction: column;
    text-align: center;
    gap: 10px;
  }
  .header__text {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
/* [theme.breakpoints.down(md)]: {
    container__image: {
      background-size: contain;
    };
  };
  [theme.breakpoints.down(sm)]: {
    button: {
      padding: 10px 20px;
      min-width: max-content;
    };
    header: {
      padding: 5%;
      position: 'static';
    };
    mainSection: {
      width: 90%;
    };
    events_cards: {
      width: 80%;
    };
    cards: {
      width: 90%;
      gap: 25px;
    };
  };
  [theme.breakpoints.down(xs)]: {
    image: {
      width: 100px;
    };
    paper: {
      padding: 15px;
    };
    events_cards: {
      width: 100%;
    };
    header:{
      flex-direction: 'column';
      text-align: center;
      gap: '10px';
    };
    header__text: {
      display: 'flex';
      flex-direction: 'column';
      gap: '10px';
    };
  }; */
